
/* aplica a todo el html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: #272E36;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-image: url(../img/8586d3fb48f4ee5640f9a45b239f6a76.jpg);
}

h1{
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: black;
}


span{
    display: block;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #EECA9D;
    gap: .5rem;
}

    footer h4{
        font-size: .8rem;
    }

    .redes a{
       text-decoration: none;
       color: whitesmoke;
       padding: .3rem;
       border-radius: 1rem;
       background-color: #272E36;
       border: .1rem solid black;
    }

/* aca va a empezar la personalizacion del header */

header{
    grid-area: header;
}

.menu-color{
    background-color: #EECA9F;
}

.color-letras{
    color: black;
    text-align: center;
}

.color-letras:hover{
    color: whitesmoke;
    position: relative;
    left: 2rem;
}

/* index - home */

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.7% 15% 4% 11% 11% 11% 4% 18% 20% 16% 4%;
    font-size: .7rem;

    grid-template-areas: 
    "header"
    "main"
    "section-dos"
    "section-tres"
    "section-cuatro"
    "section-cinco"
    "section-seis"
    "section-siete"
    "section-ocho"
    "section-nueve"
    "footer"
    ;

}

.section-uno{
    grid-area: section-uno;
    display: none;
}

main{
    grid-area: main;
    border: .1rem solid #EECA9F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}


.section-dos{
    grid-area: section-dos;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EECA9D;
    margin-bottom: 1.5rem;
}

    .section-dos h3{
        font-size: 1.8rem;
        color: whitesmoke;
        background-color: #272E36;
        border-radius: 2rem;
        padding: .7rem;
    }

.section-tres{
    grid-area: section-tres;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}
    .section-tres h4{
        font-size: 1rem;
    }
    .section-tres ul{
        list-style: none;
        padding-left: 0;
    }
    
    .ul-lenguajes{
        display: flex;
        flex: column;
        padding: 1rem;
        justify-content: space-around;
    }

    .ul-lenguajes li{
        padding: .8rem;
        background-color: rgb(81, 78, 78);
        border-radius: 1rem;
        border: .1rem solid #EECA9F;
    }

.section-cuatro{
    grid-area: section-cuatro;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}
    .section-cuatro h4{
        font-size: 1rem;
    }
    .section-cuatro ul{
        list-style: none;
        padding-left: 0;
    }

.section-cinco{
    grid-area: section-cinco;
    border-radius: 2rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}
    .section-cinco h4{
        font-size: 1rem;
    }
    .section-cinco ul{
        list-style: none;
        padding-left: 0;
    }

.container-works{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section-seis{
    grid-area: section-seis;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EECA9F;
    margin-bottom: 1.5rem;
}
    .section-seis h3{
        font-size: 1.8rem;
        color: whitesmoke;
        background-color: #272E36;
        padding: .7rem;
        border-radius: 2rem;
    }


.section-siete{
    grid-area: section-siete;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
    align-items: end;
    margin-right: 1rem;
}

.section-ocho{
    grid-area: section-ocho;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    align-items: start;
    margin-left: 1rem;
}

.section-nueve{
    grid-area: section-nueve;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
    align-items: end;
    margin-right: 1rem;
}

footer{
    grid-area: footer;
}

/* aca va a empezar la personalizacion del contact */

.contenedor-contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 35% 30% 10% 9% 54.5% 10%;
    font-size: .7rem;
    text-align: center;
    gap: .5rem;
    grid-template-areas: 
    "header"
    "main-dos"
    "section-diez"
    "section-once"
    "section-doce"
    "section-trece"
    "footer"
    ;
}

.main-dos{
    grid-area: main-dos;
    border: .1rem solid black;
}

.section-diez{
    grid-area: section-diez;
    color: whitesmoke;
}
    .section-diez .title-consultas{
        background-color: #EECA9D;
    }

.section-once{
    grid-area: section-once;
    border: .1rem solid black;
    color: whitesmoke;
}

.section-doce{
    grid-area: section-doce;
    border: .1rem solid black;
    color: whitesmoke;
}

.section-trece{
    grid-area: section-trece;
    border: .1rem solid black;
    color: whitesmoke;
}

.section-catorce{
    grid-area: section-catorce;
    display: none;

}

/*  aca va a empezar el about */

.contenedor-about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 30% 30% 20%;
    gap: 1rem;
    grid-template-areas: 
    "header"
    "main-tres"
    "section-dieciseis"
    "footer"
    ;
    font-size: .7rem;
    text-align: center;
}

.main-tres{
    grid-area: main-tres;
}

.section-quince{
    grid-area: section-quince;
    display: none;
}

.section-dieciseis{
    grid-area: section-dieciseis;
    color: whitesmoke;
}

/* aca va a empezar el works */

.contenedor-works{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 10% 20% 20% 20% 12%;
    grid-template-areas: 
    "header"
    "main-cuatro"
    "section-diecisiete"
    "section-dieciocho"
    "section-diecinueve"
    "section-veinte"
    "footer"
    ;
    font-size: .7rem;
    gap: .5rem;
    text-align: center;
}

.main-cuatro{
    grid-area: main-cuatro;
}

.section-diecisiete{
    grid-area: section-diecisiete;
    background-color: #EECA9D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}
    .section-diecisiete h4{
        background-color: #272E36;
        color: whitesmoke;
        font-size: 1.3rem;
        padding: .7rem;
        border-radius: 2rem;
    }

.section-dieciocho{
    grid-area: section-dieciocho;
    border: .1rem solid whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: whitesmoke;
}

.section-diecinueve{
    grid-area: section-diecinueve;
    border: .1rem solid whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: whitesmoke;
}

.section-veinte{
    grid-area: section-veinte;
    border: .1rem solid whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: whitesmoke;
}

/* MQ PARA TABLET */


@media screen and (min-width:600px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 32,3%);
        grid-template-rows: 8% 25% 5% 22% 5% 30% 9%;
        gap: 1rem;
        text-align: center;
    
        grid-template-areas: 
        "header header header"
        "main main main"
        "section-dos section-dos section-dos"
        "section-tres section-cuatro section-cinco"
        "section-seis section-seis section-seis"
        "section-siete section-ocho section-nueve"
        "footer footer footer"
        ;
    
    }

    .contenedor-contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 8% 25% 30% 10% 66% 10%;
        font-size: .6rem;
        text-align: center;
        gap: .7rem;
        grid-template-areas: 
        "header header"
        "main-dos main-dos"
        "section-diez section-once"
        "section-catorce section-doce"
        "section-catorce section-trece"
        "footer footer"
        ;
    }

        .contenedor-contact .section-catorce{
            display: none;
            border: .1rem solid black;
            height: 850px;
        }

    .contenedor-about{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 10% 30% 75% 10%;
        grid-template-areas: 
        "header header"
        "main-tres main-tres"
        "section-quince section-dieciseis"
        "footer footer"
        ;
        font-size: .7rem;
        gap: 1rem;
        text-align: center;
    }

        .section-quince {
            display: block;
        }


}

/* MQ para desktop */

@media screen and (min-width:1024px){
    /* contenedor index - home */
    .contenedor{
        grid-template-columns:repeat(3, 32.3%);
        grid-template-rows: 6% 31% 4% 24% 4% 28% 7%;
        gap: 1rem;
        text-align: center;
        grid-template-areas: 
        "header header header"
        "section-uno main main"
        "section-dos section-dos section-dos"
        "section-tres section-cuatro section-cinco"
        "section-seis section-seis section-seis"
        "section-siete section-ocho section-nueve"
        "footer footer footer"
        ;

    }

        .contenedor .section-uno{
            display: block;
        }

        .contenedor img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-left: .5rem;
            border: .2rem solid black;
        }

    /* contenedor contact */

    .contenedor-contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 8% 25% 30% 10% 66% 10%;
        font-size: .6rem;
        text-align: center;
        gap: .7rem;
        grid-template-areas: 
        "header header"
        "main-dos main-dos"
        "section-diez section-once"
        "section-catorce section-doce"
        "section-catorce section-trece"
        "footer footer"
        ;
    }

        .contenedor-contact .section-catorce{
            display: none;
        }

    /* contenedor works */

    .contenedor-works{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(6, 20%);
        grid-template-areas: 
        "header header"
        "main-cuatro main-cuatro"
        "section-diecisiete section-dieciocho"
        "section-diecisiete section-diecinueve"
        "section-diecisiete section-veinte"
        "footer footer"
        ;
        font-size: .7rem;
        gap: 1rem;
    }
}