* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #272E36;
  font-family: 'Open Sans', sans-serif; }
  body main {
    background-image: url(../img/8586d3fb48f4ee5640f9a45b239f6a76.jpg); }
    body main h1 {
      font-size: 1.8em;
      text-transform: uppercase;
      text-align: center;
      color: whitesmoke; }

/* home */
.contenedor .section-dos, .contenedor .section-seis {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EECA9F;
  margin-bottom: 1.5rem; }
  .contenedor .section-dos h3, .contenedor .section-seis h3 {
    font-size: 1.8rem;
    color: whitesmoke;
    background-color: #272E36;
    padding: .7rem;
    border-radius: 2rem; }

.contenedor .section-tres, .contenedor .section-cuatro, .contenedor .section-cinco {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: .8rem; }
  .contenedor .section-tres h4, .contenedor .section-cuatro h4, .contenedor .section-cinco h4 {
    font-size: 1rem; }
  .contenedor .section-tres ul, .contenedor .section-cuatro ul, .contenedor .section-cinco ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex: column;
    padding: 1rem;
    justify-content: space-around; }
    .contenedor .section-tres ul li, .contenedor .section-cuatro ul li, .contenedor .section-cinco ul li {
      padding: .8rem;
      background-color: #514e4e;
      border-radius: 1rem;
      border: 0.1rem solid #EECA9F; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.7% 15% 2% 6% 4% 11% 11% 11% 4% 18% 20% 16% 4%;
  font-size: .7rem;
  grid-template-areas: "header" "main" "section-dos-bis" "section-dos-tris" "section-dos" "section-tres" "section-cuatro" "section-cinco" "section-seis" "section-siete" "section-ocho" "section-nueve" "footer"; }
  .contenedor header {
    grid-area: header; }
    .contenedor header .menu-color {
      background-color: #EECA9F;
      text-transform: uppercase; }
      .contenedor header .menu-color div .color-letras {
        color: black;
        text-align: center; }
      .contenedor header .menu-color div .color-letras:hover {
        color: whitesmoke;
        position: relative;
        left: 2rem; }
  .contenedor .section-uno {
    grid-area: section-uno;
    display: none;
    border: 0rem; }
  .contenedor main {
    grid-area: main;
    border: .1rem solid #EECA9F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem; }
    .contenedor main h1 b span {
      display: block; }
  .contenedor .section-dos-bis {
    grid-area: section-dos-bis;
    text-align: center;
    color: whitesmoke; }
  .contenedor .section-dos-tris {
    grid-area: section-dos-tris;
    color: whitesmoke;
    margin: 0rem 1rem 1rem 1rem;
    text-align: center; }
  .contenedor .section-dos {
    grid-area: section-dos; }
  .contenedor .section-tres {
    grid-area: section-tres; }
  .contenedor .section-cuatro {
    grid-area: section-cuatro; }
  .contenedor .section-cinco {
    grid-area: section-cinco; }
  .contenedor .section-seis {
    grid-area: section-seis; }
  .contenedor .section-siete {
    grid-area: section-siete;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
    align-items: end;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .contenedor .section-ocho {
    grid-area: section-ocho;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
    align-items: start;
    margin-left: 1rem;
    margin-bottom: 1rem; }
  .contenedor .section-nueve {
    grid-area: section-nueve;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
    align-items: end;
    margin-right: 1rem; }
  .contenedor footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #EECA9F;
    gap: .5rem; }
    .contenedor footer div h4 {
      font-size: .8rem; }
    .contenedor footer .redes a {
      text-decoration: none;
      color: whitesmoke;
      padding: .3rem;
      border-radius: 1rem;
      background-color: #272E36;
      border: .1rem solid black; }

/* about */
.contenedor-about header {
  grid-area: header; }
  .contenedor-about header .menu-color {
    background-color: #EECA9F;
    text-transform: uppercase; }
    .contenedor-about header .menu-color div .color-letras {
      color: black;
      text-align: center; }
    .contenedor-about header .menu-color div .color-letras:hover {
      color: whitesmoke;
      position: relative;
      left: 2rem; }

.contenedor-about footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EECA9F;
  gap: .5rem; }
  .contenedor-about footer div h4 {
    font-size: .8rem; }
  .contenedor-about footer .redes a {
    text-decoration: none;
    color: whitesmoke;
    padding: .3rem;
    border-radius: 1rem;
    background-color: #272E36;
    border: .1rem solid black; }

/* contact */
.contenedor-contact header {
  grid-area: header; }
  .contenedor-contact header .menu-color {
    background-color: #EECA9F;
    text-transform: uppercase; }
    .contenedor-contact header .menu-color div .color-letras {
      color: black;
      text-align: center; }
    .contenedor-contact header .menu-color div .color-letras:hover {
      color: whitesmoke;
      position: relative;
      left: 2rem; }

.contenedor-contact footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EECA9F;
  gap: .5rem; }
  .contenedor-contact footer div h4 {
    font-size: .8rem; }
  .contenedor-contact footer .redes a {
    text-decoration: none;
    color: whitesmoke;
    padding: .3rem;
    border-radius: 1rem;
    background-color: #272E36;
    border: .1rem solid black; }

/* works */
.contenedor-works header {
  grid-area: header; }
  .contenedor-works header .menu-color {
    background-color: #EECA9F;
    text-transform: uppercase; }
    .contenedor-works header .menu-color div .color-letras {
      color: black;
      text-align: center; }
    .contenedor-works header .menu-color div .color-letras:hover {
      color: whitesmoke;
      position: relative;
      left: 2rem; }

.contenedor-works footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EECA9F;
  gap: .5rem; }
  .contenedor-works footer div h4 {
    font-size: .8rem; }
  .contenedor-works footer .redes a {
    text-decoration: none;
    color: whitesmoke;
    padding: .3rem;
    border-radius: 1rem;
    background-color: #272E36;
    border: .1rem solid black; }

/* services */
.contenedor-services header {
  grid-area: header; }
  .contenedor-services header .menu-color {
    background-color: #EECA9F;
    text-transform: uppercase; }
    .contenedor-services header .menu-color div .color-letras {
      color: black;
      text-align: center; }
    .contenedor-services header .menu-color div .color-letras:hover {
      color: whitesmoke;
      position: relative;
      left: 2rem; }

.contenedor-services footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EECA9F;
  gap: .5rem; }
  .contenedor-services footer div h4 {
    font-size: .8rem; }
  .contenedor-services footer .redes a {
    text-decoration: none;
    color: whitesmoke;
    padding: .3rem;
    border-radius: 1rem;
    background-color: #272E36;
    border: .1rem solid black; }
