//variables y utilidades
@import "utilidades/variables";
@import "utilidades/mixin";

//reset y estilos generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background: linear-gradient(90deg, hsl(197, 56%, 59%) 0%, #010843 100%);
    main{
        background-image: url(../img/fondo-paisaje.jpg);
        margin: 1rem;
        border-radius: 1rem;
        border: .1rem solid $color-secundario;
        @include flex;
        h1{
            font-size: 2.2em;
            text-transform: uppercase;
            text-align: center;
            color: $color-secundario;
        }
    } 
    .boton-wsp{
        @include flex;
        justify-content: end;
        margin-right: 2rem;
        margin-bottom: 2rem;
        a{
            font-size: 2rem;
            color: green;
            i{
                 background-color: whitesmoke;
                 border-radius: 50%;
                 padding: .5rem;
            }
        }
    }
}


 // imports
@import "html/index";
@import "html/about";
@import "html/contact";
@import "html/works";
@import "html/services";



