//variables
@import "../utilidades/variables";

//variables
@import "../utilidades/variables";

/* about */
@import "../utilidades/mixin";

.contenedor-about{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6% 20% 5% 40% 5% 50% 8%;
    grid-template-areas: 
    "header""main-tres""section-dieciseis-bis""section-dieciseis""section-treintayuno""section-treintaydos""footer";
    font-size: .7rem;
    text-align: center;
    color: $color-secundario;
    header{
        @include header;
    }
    .main-tres{
        grid-area: main-tres;
    }
    .section-quince{
        grid-area: section-quince;
        display: none;
    }
    .section-dieciseis-bis{
        grid-area: section-dieciseis-bis;
        font-family: 'Russo One', sans-serif;
        background-color: $color-secundario;
        border: .1rem solid black;
        color: $color-principal;
        @include flex;
    }
    .section-dieciseis{
        grid-area: section-dieciseis;
        @include flex;
        p{
            font-size: 1rem;
            margin: 1rem 2rem;
            color: $color-principal;
        }
    }
    .section-veintiuno{
        grid-area: section-veintiuno;
    }
    .section-treinta{
        grid-area: section-treinta;
        display: none;
    }
    .section-treintayuno{
        grid-area: section-treintayuno;
        font-family: 'Russo One', sans-serif;
        background-color: $color-secundario;
        border: .1rem solid black;
        color: $color-principal;
        @include flex;
    }
    .section-treintaydos{
        grid-area: section-treintaydos;
        padding: 1rem;
        @include flex;
        ul{
            list-style: none;
            li{
                font-size: 1rem;
                color: $color-principal;
                text-align: start;
            }
        }
    }
    footer{
        grid-area: footer;
        @include footer;
    }

}
