//variables
@import "../utilidades/variables";

/* contact */
@import "../utilidades/mixin";
@import "../utilidades/extend";

.contenedor-contact{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 15% 29% 12% 6% 44.5% 6%;
    font-size: .7rem;
    text-align: center;
    gap: .5rem;
    grid-template-areas: "header""main-dos""section-diez""section-once""section-doce""section-trece""footer";
    header{
        @include header;  
    }
    .main-dos{
        grid-area: main-dos;
        @include main;
    }
    .section-diez{
        grid-area: section-diez;
        color: whitesmoke;
        .title-consultas{
            background-color: $color-secundario;
            font-family: 'Russo One', sans-serif;
            padding: .7rem;
            margin-bottom: 1rem;
            text-shadow: none;
        }
        div{
            p{
                margin: 0rem 1rem;
                font-size: 1rem;
            }
        }
    }
    .section-once{
        grid-area: section-once;
        @include flex;
        border: 0;
        margin-top: 2rem;
        margin-bottom: 3rem;
        a{
            display: flex;
            flex-direction: row;
            margin: 1rem;
            text-decoration: none;
            color: $color-principal;
            i{
                font-size: 1.5rem;
            }
        }
        a:hover{
            border: 1px solid $color-principal;
            border-radius: 100%;
            padding: .3rem;
        }
    }
    .section-doce{
        grid-area: section-doce;
        @include flex;
        background-color: $color-secundario;
        color: $color-principal;
        h3{
            font-family: 'Russo One', sans-serif;
            border-radius: 2rem;
            padding: .7rem;
        }

    }
    .section-trece{
        grid-area: section-trece;
        border: .1rem solid black;
        color: whitesmoke;
        margin: 1rem;
        border-radius: 5px;
        background-color: #91AFDA;
        form{
            fieldset{
                legend{
                    background-color: $color-secundario;
                    display: flex;
                    justify-content: center;
                    color: whitesmoke;
                    padding: .5rem;
                }
                .form-datos{
                    display: flex;
                    gap: 1rem;
                    margin: 3rem;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 1rem;
                    .input-nombre{
                        margin-top: 2rem;
                    }
                    input{
                        margin: 0rem 1rem;
                        padding: 1rem;
                        border-radius: 1rem;
                    }
                }
                .botones-form{
                    display: flex;
                    gap: 1.5rem;
                    margin-bottom: 1rem;
                    justify-content: center;
                    font-size: 1rem;
                    input{
                        border-radius: 10px;
                        background-color: $color-secundario;
                        padding: .3rem;
                        border: .1rem solid black;
                        color: whitesmoke;
                    }
                    input:hover{
                        color: red;
                    }
                }
            }    
        }
    }
    .section-catorce{
        grid-area: section-catorce;
        display: none;
    }
    footer{
        grid-area: footer;
        @include footer;
    }
}
