//variables
@import "../utilidades/variables";

/* home */
@import "../utilidades/mixin";
@import "../utilidades/extend";

.contenedor{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.7% 15% 3% 16% 4.5% 11% 11% 11% 4.5% 18% 20% 16% 4%;
    font-size: .7rem;
    grid-template-areas:"header""main""section-dos-bis""section-dos-tris""section-dos""section-tres""section-cuatro""section-cinco""section-seis""section-siete""section-ocho""section-nueve""footer";

    header{
        @include header;        
    }

    .section-uno{
        grid-area: section-uno;
        display: none;
        border: 0rem;
    }
    main{
        grid-area: main;
        h1{
            b{
                span{
                    display: block;
                }
            }
        }
    }
    .section-dos-bis{
        grid-area: section-dos-bis;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        color: $color-principal;
        margin-bottom: 1rem;
    }
    .section-dos-tris{
        grid-area: section-dos-tris;
        color: $color-principal;
        margin: 0rem 1rem 1rem 0rem;
        text-align: center;
        font-size: 1rem;
        ul{
            list-style: none;
            @include flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
    .section-dos{
        grid-area: section-dos;
        margin-bottom: 1rem;
        @extend %titulos
    }
    .section-tres{
        grid-area: section-tres;
        @extend %services;
    }
    .section-cuatro{
        grid-area: section-cuatro;
        @extend %services;
    }
    .section-cinco{
        grid-area: section-cinco;
        @extend %services;
    }
    .section-seis{
        grid-area: section-seis;
        margin-bottom: 1rem;
        @extend %titulos;
    }
    .section-siete{
        grid-area: section-siete;
        @include works;  
        align-items: end;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .section-ocho{
        grid-area: section-ocho;
        @include works;
        align-items: start;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .section-nueve{
        grid-area: section-nueve;
        @include works;
        align-items: end;
        margin-right: 1rem;
    }
    footer{
        grid-area: footer;
        @include footer;
    }
}















