//variables
@import "../utilidades/variables";

/* home */
@import "../utilidades/mixin";
@import "../utilidades/extend";

.contenedor{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.7% 15% 2% 14% 4.5% 11% 11% 11% 4.5% 18% 20% 16% 4%;
    font-size: .7rem;
    grid-template-areas:"header""main""section-dos-bis""section-dos-tris""section-dos""section-tres""section-cuatro""section-cinco""section-seis""section-siete""section-ocho""section-nueve""footer";

    header{
        @include header;        
    }

    .section-uno{
        grid-area: section-uno;
        display: none;
        border: 0rem;
    }
    main{
        grid-area: main;
        h1{
            b{
                span{
                    display: block;
                }
            }
        }
    }
    .section-dos-bis{
        grid-area: section-dos-bis;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        color: $color-principal;
        margin-bottom: 1rem;
    }
    .section-dos-tris{
        grid-area: section-dos-tris;
        color: $color-principal;
        margin: 0rem 1rem 1rem 0rem;
        text-align: start;
        font-size: 1rem;
        ul{
            list-style: none;
        }
    }
    .section-dos{
        grid-area: section-dos;
        margin-bottom: 1rem;
        @extend %titulos
    }
    .section-tres{
        grid-area: section-tres;
        @extend %services;
    }
    .section-cuatro{
        grid-area: section-cuatro;
        @extend %services;
    }
    .section-cinco{
        grid-area: section-cinco;
        @extend %services;
    }
    .section-seis{
        grid-area: section-seis;
        margin-bottom: 1rem;
        @extend %titulos;
    }
    .section-siete{
        grid-area: section-siete;
        @include works;  
        align-items: end;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .section-ocho{
        grid-area: section-ocho;
        @include works;
        align-items: start;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .section-nueve{
        grid-area: section-nueve;
        @include works;
        align-items: end;
        margin-right: 1rem;
    }
    footer{
        grid-area: footer;
        @include footer;
    }
}

/* MQ PARA TABLET */

@media screen and (min-width:600px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-template-rows: 3.7% 12% 2% 15% 4.5% 10% 8% 4.5% 18% 18% 6%;
        gap: 1rem;
        text-align: center;
    
        grid-template-areas: "header header""main main""section-dos-bis section-dos-bis""section-dos-tris section-dos-tris""section-dos section-dos""section-tres section-cuatro""section-cinco section-cinco""section-seis section-seis""section-siete section-ocho""section-nueve section-nueve""footer footer"
        ;
        .section-dos-tris{
            font-size: 1.2rem;

        }
        .section-tres{
            ul{
               @include lenguajes-mq;
            }
        }
        .section-cuatro{
            ul{
               @include lenguajes-mq;
            }
        }
        .section-cinco{
            ul{
               @include lenguajes-mq;
            }
        }
        .section-siete{
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-left: 1.2rem;
        }
        .section-ocho{
            display: flex;
            flex-direction: row;
            margin-left: 3rem;
            margin-right: 0;
        }
        .section-nueve{
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-left: 1rem;
        }
    }
}

/* MQ para desktop */

@media screen and (min-width:1024px){
    .contenedor{
        grid-template-columns:repeat(3, 32.5%);
        grid-template-rows: 3.7% 20% 4% 22% 6% 15% 6% 25% 6%;
        gap: 1rem;
        text-align: center;
        grid-template-areas:"header header header""section-uno main main""section-uno section-dos-bis section-dos-bis""section-uno section-dos-tris section-dos-tris""section-dos section-dos section-dos""section-tres section-cuatro section-cinco""section-seis section-seis section-seis""section-siete section-ocho section-nueve""footer footer footer"
        ;
        header{
            @include header-desktop;
        }
        .section-uno{
            display: block;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            } 
        }
        .section-dos-bis{
            margin-top: 2rem;
        }
        .section-dos-tris{
            margin-top: 1.5rem;
            font-size: 1.1rem;
            display: flex;
            flex-direction: row;
            margin-left: 4rem;
        }
        .section-tres{
            @include flex;
        }
        .section-cuatro{
            @include flex;
        }
        .section-cinco{
            @include flex;
        }
        .section-siete{
            @include flex;
        }
        .section-ocho{
            @include flex;
        }
        .section-nueve{
            @include flex;
        }
    }
}















