//variables
@import "../utilidades/variables";

/* services */
@import "../utilidades/mixin";

.contenedor-services{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 20% 6% 32% 32% 32% 8%;
    grid-template-areas:"header""main-cinco""section-veintiuno""section-tres""section-cuatro""section-cinco""footer";
    gap: 1rem;
    header{
        @include header;
        font-size: .7rem;
    }
    .main-cinco{
        grid-area: main-cinco;
    }
    .section-veintiuno{
        grid-area: section-veintiuno;
        @include flex;
        background-color: $color-secundario;
        h2{
            color: $color-principal;
            font-family: 'Russo One', sans-serif;
        }
    }
    .section-tres{
        grid-area: section-tres;
        @extend %carouseles;
    }
    .section-cuatro{
         grid-area: section-cuatro;
         @extend %carouseles;
    }
    .section-cinco{
        grid-area: section-cinco;
        @extend %carouseles;
    }        
    footer{
        grid-area: footer;
        @include footer;
    }
}
