//variables
@import "../utilidades/variables";

/* works */
@import "../utilidades/mixin";

/* aca va a empezar la personalizacion del works */

.contenedor-works{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 15% 5% 26% 26% 26% 7%;
    grid-template-areas: "header""main-cuatro""section-diecisiete""section-dieciocho""section-diecinueve""section-veinte""footer";
    font-size: .7rem;
    gap: .8rem;
    text-align: center;
    header{
        @include header;
    }
    .main-cuatro{
        grid-area: main-cuatro;
    }
    .section-diecisiete{
        grid-area: section-diecisiete;
        background-color: $color-secundario;
        @include flex;
        h2{
            color: whitesmoke;
            font-family: 'Russo One', sans-serif;
        }
    }
    .section-dieciocho{
        grid-area: section-dieciocho;
        @extend %works
    }
    .section-diecinueve{
        grid-area: section-diecinueve;
        @extend %works
    }
    .section-veinte{
        grid-area: section-veinte;
        @extend %works
    }
    footer{
        grid-area: footer;
        @include footer;
    }
}
