//variables
@import "../utilidades/variables";

/* works */
@import "../utilidades/mixin";

/* aca va a empezar la personalizacion del works */

.contenedor-works{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 15% 5% 26% 26% 26% 7%;
    grid-template-areas: 
    "header""main-cuatro""section-diecisiete""section-dieciocho""section-diecinueve""section-veinte""footer";
    font-size: .7rem;
    gap: .8rem;
    text-align: center;
    header{
        @include header;
    }
    .main-cuatro{
        grid-area: main-cuatro;
    }
    .section-diecisiete{
        grid-area: section-diecisiete;
        background-color: $color-secundario;
        @include flex;
        h2{
            color: whitesmoke;
            font-size: 1.3rem;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .section-dieciocho{
        grid-area: section-dieciocho;
        @extend %works
    }
    .section-diecinueve{
        grid-area: section-diecinueve;
        @extend %works
    }
    .section-veinte{
        grid-area: section-veinte;
        @extend %works
    }
    footer{
        grid-area: footer;
        @include footer;
    }
}

/* MQ PARA TABLET */
@media screen and (min-width:600px){


}

/* MQ para desktop */

@media screen and (min-width:1024px){
    .contenedor-works{
        display: grid;
        grid-template-columns: 20% 78.8%;
        grid-template-rows: 7% 30% 25% 25% 25% 10%;
        grid-template-areas: "header header""main-cuatro main-cuatro""section-diecisiete section-dieciocho""section-diecisiete section-diecinueve""section-diecisiete section-veinte""footer footer";
        font-size: .7rem;
        gap: 1rem;
        header{
            @include header-desktop;
        }
        .section-diecisiete{
            background-color: $color-secundario;
            border-radius: 10px;
            margin-left: .5rem;
            h4{
                padding: 2rem;
                text-align: center;
                border-radius: 60%;
                text-transform: uppercase;
            }
        }
        .section-dieciocho{
            @include works-mq;
        }
        .section-diecinueve{
            @include works-mq;
        }
        .section-veinte{
            @include works-mq;
        }
    }
}