@import "../utilidades/variables";


%estilos{
    margin: 1rem;
    padding: 2rem;
    background-color: tomato;
}

%titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secundario;
    h3{
        font-size: 1.8rem;
        color: $color-principal;
    }
}

%services{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    h4{
        font-size: 1rem;   
    } 
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        flex: column;
        padding: 1rem;
        justify-content: space-around;
        li{
            padding: 1.5rem;
            background-color: rgb(81, 78, 78);
            border-radius: 2rem;
            border: .1rem solid $color-secundario;   
        }
    }  
}

%works{
    border: .1rem solid whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: whitesmoke;
    img{
        height: 6rem;
        width: 10rem;
        border: .2rem solid $color-secundario;
    }
    div{
        ul{
            text-align: start;
            margin: 0;
        }
    }
}
