@import "../utilidades/variables";

// con parametros
@mixin estilos-base($widht, $height, $color){
    width: $widht;
    height: $height;
    color: $color;
    background-color: tomato;
 }



// sin parametros
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin header{
    grid-area: header;
    .menu-color{
        background-color: $color-secundario;
        text-transform: uppercase;
        padding: .7rem;
        font-family: 'Raleway', sans-serif;
        .container-fluid{
            .navbar-toggler{
                border: 0px;
                margin: 0rem 1.4rem;
                .navbar-toggler-icon{
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(93, 173, 226)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                    margin: 0rem;
                }
            }
        }
        div{
            .color-letras{
                color: $color-principal;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                transition: .5s;
            }
            .color-letras:hover{
                color: rgb(93, 173, 226);
                position: relative;
                left: 2rem;
                transition: .5s;
            }
        }
    }
}

@mixin header-desktop{
    grid-area: header;
    .menu-color{
        background-color: $color-secundario;
        text-transform: uppercase;
        div{
            .color-letras{
                display: flex;
                text-decoration: solid;
                margin: 0rem 1rem;
            }
            .color-letras:hover{
                color: whitesmoke;
                border-bottom: .1rem solid whitesmoke;
                left: 0;
            }
        }
    }
}

@mixin works{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: .9rem;
    text-align: center;
}

@mixin footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $color-secundario;
    gap: .5rem;
    color: $color-principal;
    div{
        h6{
            font-size: .6rem; 
        }
    }
    .redes a{
        color: whitesmoke;
        i{
            font-size: 1.2rem;
            margin: 0rem .5rem; 
            padding: .4rem;
            border-radius: 7rem;
        }
        i:hover{
            background: rgb(131,58,180);
            background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        }
     }
}

@mixin lenguajes-mq{
    display: flex;
    flex: column;
    justify-content: center;
    gap: .7rem;
}

@mixin main{
    border: .1rem solid $color-secundario;
    @include flex;
    margin: 1rem;
    border-radius: 1rem;
}

@mixin works-mq{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    div{
        img{
            height: 8rem;
            width: 13rem;
        }        
    }
    div{
        ul{
            margin: 0;
        }
    }

}